





/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}


/* Main marketing message and sign up button */
.jumbotron {
  border-bottom: 1px solid #e5e5e5;
  padding: 2px 2px;



}
