<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>UCS VLAN Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../static/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="../static/assets/css/custom.min.css">
    <!-- Custom styles for this template -->
    <!-- link href="../static/css/jumbotron-narrow.css" rel="stylesheet">-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="..static/bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="..static./bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
    <script>

     var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23019901-1']);
      _gaq.push(['_setDomainName', "bootswatch.com"]);
        _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

    </script>
  </head>
  <body>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Cisco UCS VLAN Management</a>


        </div>


          <ul class="nav navbar-nav navbar-right">
            <li><a href="/vlans">VLAN</a></li>
            <li class="active"><a href="/vnics">vNIC</a></li>
          </ul>

        </div>
      </div>
    </div>




    <div class="container">



    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h3 id="containers">Add VLAN to vNIC Template</h3>
          <span class="label label-info">Connected to {{ip}}</span>
          {% if success == "True" %}
          <span class="label label-success">Added VLAN {{vlan_name}} to the {{vnic_name}} vNIC</span>
          {% endif %}

        </div>
        <div class="bs-component">
          <div class="jumbotron">

            <form action="" class="form-horizontal" method="POST">
              <div style="display: none">
              </div>
              <div class="heading">


              </div>


                <div class="form-group">
                  <label class="col-sm-4"for="ip_address">VLAN</label>
                    <div class="col-sm-7">

                        <select class="form-control" id="select" name="vlan-name">

                          {% for name, ID in vlan.iteritems()  %}
                              <option>{{name}}</option>
                          {% endfor  %}


                        </select>

                    </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-4" for="username">vNIC Template</label>
                    <div class="col-sm-7">
                      <select class="form-control" id="select" name="vnic-name">
                        {% for name in vnic  %}
                            <option>{{name}}</option>
                        {% endfor  %}

                      </select>
                      </div>
                </div>


                <br>



              <div class="form-group">
                <label class="col-sm-2" for=""></label>
                <div class="col-sm-8">
                  <button class="btn btn-success  btn-block" type="submit">Add VLAN to vNIC</button>
                </div>

              </div>

            </form>

        </div>
      </div>
    </div>




    </div>


    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="..static/assets/js/custom.js"></script>
  </body>
</html>
